.about_container {
  display: flex;
  z-index: 20;
  position: relative;
  width: calc(100% - 16%);
  max-width: 900px;
  margin: 0px auto;
  padding: 190px 0;
  padding-bottom: 50px;
  align-items: center;
  gap: 50px;
}

.about_container .about_img_container {
  width: max-content;
}

.about_container .about_img_container img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}

.about_container .text h1 {
  font-family: var(--font-acorn);
  font-size: 60px;
  color: var(--txt1);
}

.about_container .text p {
  line-height: 1.4;
  font-size: 20px;
  margin-top: 20px;
}

.experience {
  width: calc(100% - 16%);
  max-width: 900px;
  margin: 0px auto;
  margin-bottom: 60px;
  margin-top: 20px;

}

.experience .container {
  display: grid;
  gap: 40px;
  margin-top: 30px;
  padding: 30px 40px;
  background-color: var(--card-bg);
  border-radius: 20px;
  border: 1px solid var(--card-bd);
}

.experience .container .card .heading {
  margin-bottom: 15px;
}

.experience .container .card .heading h3 {
  font-size: 22px;
  margin-bottom: 5px;
  color: var(--txt1);
}

.experience .container .card .text {
  line-height: 1.5;
  font-size: 18px;
}

.experience h1 {
  font-family: var(--font-acorn);
  font-size: 42px;
  color: var(--txt1);
}

.service {
  width: calc(100% - 16%);
  max-width: 900px;
  margin: 0px auto;
  margin-bottom: 60px;
  /* background-color: var(--card-bg); */
  /* padding: 30px; */
  border-radius: 20px;
  margin-top: 20px;
}

.service h1 {
  font-family: var(--font-acorn);
  font-size: 42px;
  color: var(--txt1);
}

.service .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 10px;
}

.service .container .card {
  background-color: var(--card-bg);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid var(--card-bd);
  &:nth-child(2){
    margin-top: 30px;
  }
  &:nth-child(3){
    margin-top: 60px;
  }
}

.service .container .card h2 {
  color: var(--txt1);
  margin-top: 10px;
  font-size: 22px;
}

.service .container .card p {
  line-height: 1.5;
  font-size: 18px;
  margin-top: 10px;
  color: var(--txt2);
}

.service .container .card i {
  font-size: 35px;
  color: var(--txt1);
  padding-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .about_container .text h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 840px) {
  .about_container .text h1 {
    font-size: 40px;
  }

  .service h1,
  .experience h1 {
    font-size: 37px;
  }

  .about_container {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 120px;
  }
  .about_container .about_img_container {
    width: 100%;
  }
  .about_container .about_img_container img {
    width: 100%;
    max-width: 70%;
    height: 400px;
    object-fit: cover;
  }
  .service .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .service .container .card{
    margin: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .service .container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about_container .text h1,
  .service h1,
  .experience h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .about_container .text h1,
  .service h1,
  .experience h1 {
    font-size: 37px;
  }

  .about_container .about_img_container img {
    width: 100%;
    max-width: 280px;
    height: 320px;
  }
  .experience .container {
    padding: 30px 20px;
  }
}
